h1,h2,h3 {
    font: {
        family: $font_title;
        style: normal;
        weight: normal;
    }
}

h2 {
    font-size: 46px;
}

h3 {
    font-size: 20px;
}
h4 {
    font-size: 12px;
}
p {
    font-size: 16px;
}

