.reviews {
    display: flex;
    align-items: center;
    background: {
    image: url(images/reviews.jpg);
    position: center top;
    repeat: no-repeat;
    size: cover;
    }}

.rectangle {
    padding: 100px;
    h2 {
        &::after {
        content: url(images/Vector3.png);
        display: block;
        margin: 20px auto;
        }
    }
}
