*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font:{
        family: $font_text;
        size: 16px;
        
    }
    color: $color_grey_one;
    line-height: 180%;
    }
body>div:not(.footer){
    padding: 100px 0;
    min-height: 750px;
    
}
